.album-section {

    a {
        outline: none;
        text-decoration: none;
        color: #000;
        font-weight: bold;
    }

    .card {

        .cover {

            @media screen and (max-width:450px) {
                width: 100%;
            }
        }

        .img-artiste {
            align-items: center;
            margin: 15px 0;

            img {
                border-radius: 100%;
                margin-right: 15px;
            }
        }
    }

}